doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    base(href="/")
    title SwaggerUI 
    link(rel="stylesheet", href="css/semantic.min.css")
    link(rel="stylesheet", href="css/style.css")
    script(src="js/semantic.min.js")
    script(src="js/script.js") 
    script(src="js/jquery-3.6.0.min.js")
  body  
    table.ui.celled.table
      thead
        tr 
          th Id Province 
          th Name Province 
          th.action Action 
      tbody
        each i in data 
          tr 
            td(data-label='Id Province')= i.id
            td(data-label='Name Province')= i.nama 
            td(data-label='Action')
              button.ui.button.blue Detail Province
              button.ui.button.teal List City
              button.ui.button.red Delete